* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: hsl(185, 41%, 84%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 2rem;
  color: hsl(186, 14%, 43%);
}

.c-app {
  width: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1.5rem;
}

.c-input label {
  color: hsl(183, 12%, 38%);
}

.c-input input {
  display: block;
  padding: 0.5rem;
  margin-top: 0.25rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  text-align: right;

  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.c-input__bill {
  background-image: url(images/icon-dollar.svg);
}

.c-input__bill:focus,
.c-input__number-people:focus,
.custom:focus {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 2px hsl(172, 67%, 45%);
  outline: none;
  transition: 0.1s;
}

.c-select {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-select label {
  color: hsl(183, 12%, 38%);
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.c-select__option {
  width: 45%;
  height: 3rem;
  color: white;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 1.5rem;
  font-weight: bold;

  margin-bottom: 0.75rem;
}

.c-select__option:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.custom {
  width: 45%;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 85%);
  color: hsl(183, 12%, 38%);
  margin-bottom: 1rem;
  text-align: right;
}

.c-input__number-people {
  background-image: url(images/icon-person.svg);
}

.s-result {
  margin-top: 1rem;
  padding: 2rem 1rem 1rem;
  border-radius: 10px;
  background-color: hsl(183, 100%, 15%);
}

.s-amount {
  margin-bottom: 2rem;
}

.s-amount,
.s-total {
  display: flex;
  justify-content: space-between;
}

.c-app__amount-result,
.c-app__total-result {
  display: flex;
  align-items: center;
}

.c-app__dollar-img {
  width: 1rem;
  margin-right: 0.2rem;
}

.c-app__tip-amount,
.c-app__total {
  font-size: 1.75rem;
  font-weight: bold;
  color: hsl(172, 67%, 45%);
}

.c-app__total-label p,
.c-app__amount-label p {
  font-size: 1.1rem;
  color: white;
}

.c-app__total-label p:last-child,
.c-app__amount-label p:last-child {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: hsl(183, 12%, 38%);
}

.c-app__btn-reset {
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}

.c-app__btn-reset:hover {
  background-color: hsl(185, 41%, 84%);
}

.is-selected {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 64rem) {
  .c-app {
    border-radius: 20px;
    width: 48rem;
    height: 27.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2rem;

    grid-template-areas:
      "input-bill result"
      "select-tip   result"
      "input-people  result";
  }

  #input-bill {
    grid-area: input-bill;
  }

  .c-select {
    grid-area: select-tip;
  }

  #input-number-people {
    grid-area: input-people;
  }

  .s-result {
    grid-area: result;
  }

  .c-select__option {
    width: 30%;
  }

  .custom {
    width: 30%;
  }

  .s-result {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .c-app__tip-amount,
  .c-app__total {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
  }

  .c-app__btn-reset {
    width: 80%;
    position: absolute;
    bottom: 2rem;
    left: 10%;
  }
}
